<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>The O&apos;Leary Chat Interface</title>
	<link rel="stylesheet" href="styles/main.css">
	<link href="http://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css">

</head>

<body>

	<div class="chat-box">
		<ul class="messageContainer">
		</ul>
	</div>


	<form class ="post-form">
		<input type="text" class="character-input" placeholder="type your message">
		<input type="submit" value="post" class="send-button" id="send-button">

	</form>

<script type="text/template" data-template-name="message-post">
	<li>

		<span class="displayed-username"><%= username %></span>
		<span class="displayed-message"><%= message %></span>
		<span class="displayed-time"><%= moment(createdAt).fromNow() %></span>
	</li>

</script>


	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="scripts/main.js"></script>

</body>

</html>
