body {
  background-color: #c0d860; }

li {
  border-bottom: solid #607848 1px;
  width: 90%;
  padding: 5px;
  list-style: none;
  color: #604848; }

li img {
  max-width: 300px;
  max-height: 300px; }

.chat-box {
  margin: 75px auto;
  border: solid #607848 3px;
  border-radius: 8%;
  background-color: #f0f0d8;
  width: 700px;
  height: 555px;
  overflow: scroll; }
